# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environment
venv/
.env
.venv/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml

# Data
online_retail.csv
online_retail/

# Logs
*.log
